.registration {
    box-sizing: border-box;
    border: solid blue 3px;
    max-width: 1200px;
    margin: 19px auto;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration .form {
    margin-top: -250px;
}

.registration .form button {
    margin-top: 10px;
    margin-left: 25px;
    display: inherit;
}